# Image ----------------------------------------------------------------------------------------------
*.jpg
*.png
*.bmp
*.tif
*.heic
*.JPG
*.PNG
*.TIF
*.HEIC
*.mp4
*.mov
*.MOV
*.avi
*.data
*.json
# Image ----------------------------------------------------------------------------------------------
*.pt